Package: ocfa-router-klpd
Version: 2.3.0
Architecture: amd64
Depends: ocfa-lib,ocfa-anycastrelay
Maintainer: Klpd <ocfa@dnpa.nl>
Description: The standard (klpd) router for the Open Computer Forensics Architecture.
